{% extends "home/base.twig" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ article.title }}</h1>
        <ul class="list-inline text-muted">
            <li><span class="glyphicon glyphicon-time"></span> {{ article.created_at }}</li>
            <li><span class="glyphicon glyphicon-user"></span> {{ article.user.nickname }}</li>
            <li><span class="glyphicon glyphicon-comment"></span> {{ article.comments.count() }}</li>
        </ul>
    </div>
    {% if article.summary %}
        <div class="alert alert-info">{{ article.summary }}</div>
    {% endif %}
    <div class="article">{{ article.content|raw }}</div>
    <form action="/comment" class="comment-from" method="post">
        <input type="text" name="article_id" value="{{ article.id }}" title="article_id" hidden>
        <div class="form-group">
            <textarea class="form-control" name="content" title="评论" placeholder="评论" required></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> 提交评论
            </button>
        </div>
    </form>
    <div class="comments">
        {% for comment in article.comments %}
            <div class="comment">
                <h4>{{ comment.getUserName() }}</h4>
                <p>{{ comment.content }}</p>
                <div class="text-muted">{{ comment.created_at }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
