{% extends "home/base.twig" %}
{% block title %}首页{% endblock %}
{% block content %}
    <div class="articles">
        {% for article in articles %}
            <div class="article-item">
                <h3><a href="/article/{{ article.id }}">{{ article.title }}</a></h3>
                <ul class="list-inline text-muted">
                    <li><span class="glyphicon glyphicon-time"></span> {{ article.created_at }}</li>
                    <li><span class="glyphicon glyphicon-user"></span> {{ article.user.nickname }}</li>
                    <li><span class="glyphicon glyphicon-comment"></span> {{ article.comments.count() }}</li>
                </ul>
                <p class="article-item-picture">{{ article.getImage()|raw }}</p>
                <p>{{ article.summary }}</p>
            </div>
        {% endfor %}
    </div>
    {% if articles.total() > articles.perPage() %}
        <ul class="pagination">
            <li class="{{ articles.previousPageUrl() ? '' : 'disabled' }}">
                <a href="{{ articles.previousPageUrl() }}">
                    <span>&laquo;</span>
                </a>
            </li>
            {% for page in range(1, articles.lastPage()) %}
                <li class="{{ articles.currentPage() == page ? 'disabled' : '' }}">
                    <a href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="{{ articles.nextPageUrl() ? '' : 'disabled' }}">
                <a href="{{ articles.nextPageUrl() }}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
