{% extends "admin/base.twig" %}
{% block body %}
    <table class="table table-hover" style="margin-bottom: 0">
        <thead>
        <tr>
            <th>用户名</th>
            <th>昵称</th>
            <th>角色</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ role_map[user.role] }}</td>
                <td>{{ user.created_at }}</td>
                <td>
                    {% if not user.isAdmin() %}
                        {% if user.isWriter() %}
                            <a class="text-warning" href="javascript:toggle({{ user.id }})">设为用户</a>
                        {% else %}
                            <a class="text-success" href="javascript:toggle({{ user.id }})">设为作者</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if users.total() > users.perPage() %}
        <ul class="pagination">
            <li class="{{ users.previousPageUrl() ? '' : 'disabled' }}">
                <a href="{{ users.previousPageUrl() }}">
                    <span>&laquo;</span>
                </a>
            </li>
            {% for page in range(1, users.lastPage()) %}
                <li class="{{ users.currentPage() == page ? 'disabled' : '' }}">
                    <a href="/admin/users?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="{{ users.nextPageUrl() ? '' : 'disabled' }}">
                <a href="{{ users.nextPageUrl() }}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        function toggle(userID) {
            $.post('/admin/user/' + userID + '/toggle_role').then(function () {
                location.reload()
            })
        }
    </script>
{% endblock %}
